.bam-ad-container {
  overflow: hidden;
  margin: 20px 0px;
  position: relative;
  max-height: 140px;
  height: 140px;
}

.bam-ad-col {
  float: left;
}

.bam-ad-content-rt-tx {
  overflow: auto;
}

.bam-ad-rt-content {
  float: left;
  margin-right: 10px;
}

.bam-ad-rt-item {
  width: 50px;
  display: inline-table;
  vertical-align: middle;
  background-color: #ff1805;
  color: #fff;
  padding: 5px;
  margin-right: 2px;
  /* font-weight: bold; */
  text-align: center;
  font-family: 'HelveticaNeue', sans-serif;
}

.bam-ad-rt-item .bam-ad-rt-title {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: normal;
}

.bam-ad-rt-number {
  font-size: 26px;
  line-height: 28px;
  font-family: 'HelveticaNeue-CondensedBold', sans-serif;
}

.bam-ad-image {
  width: 191px;
}

.bam-ad-content {
  padding: 10px 0px;
  position: absolute;
  left: 169px;
}

.bam-ad-button-content{
  color: white;
  text-align: center;
  padding: 17px 30px;
  background: #1a1a1a;
  font-size: 13px;
  height: 140px;
  width: 180px;
  position: absolute;
  right: 0;
 }

.bam-ad-button-content button {
  border-radius: 3px;
 background-image: -moz-linear-gradient( 90deg, rgb(254,153,23) 0%, rgb(254,189,23) 100%);
 background-image: -webkit-linear-gradient( 90deg, rgb(254,153,23) 0%, rgb(254,189,23) 100%);
 background-image: -ms-linear-gradient( 90deg, rgb(254,153,23) 0%, rgb(254,189,23) 100%);
 box-shadow: 0px 2px 0px 0px rgba(139, 84, 13);
 text-transform: uppercase;
 font-family: 'HelveticaNeue-CondensedBold', sans-serif;
 font-weight: 700;
 font-size: 18px;
 color: #2c1e04;
 border: none;
 line-height: 1.2;
 text-align: center;
 width: 120px;
 height: 48px;
 position: relative;
 display: block;
 margin: 0 auto 20px;
 padding: 1px 7px 2px 7px;
}

.overline{
  font-family: 'HelveticaNeue', sans-serif;
  height: 100%;
  font-weight: 700;
  margin: 0;
  color: white;
 }

 .bam-ad-content-tx h2 {
  font-size: 24px;
  color: rgb(254, 232, 1);
  line-height: 0.833;
  text-align: left;
  text-transform: capitalize;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: 'HelveticaNeue-CondensedBold', sans-serif;
}

.bam-ad-content-tx p {
  font-size: 14px;
  font-family: 'HelveticaNeue', sans-serif;
  color: #fff;
  line-height: 1.2;
  text-align: left;
  padding: initial;
  margin: initial!important;
}

.bam-ad-rt-nx {
  font-size: 13px;
  font-family: 'HelveticaNeue', sans-serif;
  color: #fff;
  text-align: left;
  padding: 13px 10px;
  width: 115px;
  float: left;
}

.bam-ad-image-js1 {
  display: none;
}

.bam-ad-content-js1 {
  width: unset;
  position: static;
  padding-left: 30px;
}

.bam-ad-button-content-js1 {
  width: unset;
  position: static;
  float: right;
}

.bam-ad-container-js2 {
  max-height: initial;
  height: auto;
}

.bam-ad-content-js2 {
  width: 100%;
  padding-left: initial;
}

.bam-ad-button-content-js2 {
  width: 100%;
  position: static;
  height: initial;
}

.bam-ad-rt-nx-js2 {
  float: initial;
  width: unset;
  text-align: center;
}

.bam-ad-rt-content-js2 {
  float: initial;
  margin-right: initial;
  text-align: center;
}

.bam-ad-content-tx-js2 h2 {
  text-align: center;
}

.bam-ad-content-tx-js2 p {
  text-align: center;
}

@media only screen and (max-width : 709px) {
  .bam-ad-image {
    display: none;
  }

  .bam-ad-content {
    width: unset;
    position: static;
    padding-left: 30px;
  }

  .bam-ad-button-content {
    width: unset;
    position: static;
    float: right;
  }
}

@media only screen and (max-width : 596px) {
  .bam-ad-container {
    max-height: initial;
    height: auto;
  }

  .bam-ad-content {
    width: 100%;
    padding-left: initial;
  }

  .bam-ad-button-content {
    width: 100%;
    position: static;
    height: initial;
  }

  .bam-ad-rt-content {
    float: initial;
    margin-right: initial;
    text-align: center;
  }

  .bam-ad-rt-nx {
    float: initial;
    width: unset;
    text-align: center;
  }
  
  .bam-ad-content-tx h2 {
    text-align: center;
  }

  .bam-ad-content-tx p {
    text-align: center;
  }
}



